/* ---------- ESTILOS GENERALES ---------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: bold;
  background: #212121;
}

.Tittle {
  text-align: center;
  margin: 2em;
}

.imgTittle {
  width: 450px;
  height: 110px;
}

/* ---------- ESTILOS FORM BATTLE ---------- */
/* ---------- TARJETAS ---------- */
.card-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: auto;
  min-width: 100%;
  height: 15rem;
}

.card {
  background-color: #ffffff;
  height: auto;
  width: 22rem;
  min-width: 22rem;
  border-radius: 16px;
  border-color: #212121;
  overflow: visible;
  margin: 30px;
}

.card-body {
  background-color: #81d4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 3px solid #212121;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.card-body-2 {
  background-color: #ff5252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 3px solid #212121;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.card-body-img {
  border: 2px solid #212121;
  border-radius: 40px;
  margin-top: calc(-48px - 5px);
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  outline: none;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.card-body-title span {
  color: #424242;
  font-weight: 400;
}

.card-body-text-hp {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-body-text-xp {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  font-size: 1rem;
  color: #212121;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  bottom: 0;
  margin-bottom: 0;
}

.card-footer-stat {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-footer-stat p {
  letter-spacing: 1px;
}

.card-1 {
  background-image: linear-gradient(to right, #e0e0e0, #9e9e9e);
}

.card-2 {
  background-image: linear-gradient(to right, #9e9e9e, #e0e0e0);
}

/* ---------- BOTÓN BATALLA ---------- */
.botonesBlock {
  width: 16.5rem;
  margin: auto auto;
  display: flex;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  align-items: center;
}

.btnBattle {
  background-color: #e57373;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 200;
  outline-style: none;
}

.btnBattle:hover {
  background-color: #d50000;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 30px #d50000;
}

/* ---------- BOTÓN HOME ---------- */
.imgHome {
  background-color: #ff6600;
  border-radius: 50px;
  margin-left: 25px;
}
.imgHome:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 30px #fd7a20;
}