/* ---------- ESTILOS GENERALES ---------- */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-weight: bold;
    background: #212121;
  }
  
  .Tittle {
    text-align: center;
    margin: 2em;
  }
  
  .imgTittle{
      width: 450px;
      height: 110px;
  }
  
  /* ---------- ESTILOS FORM HOME ---------- */
  /* ---------- POKEMONES ---------- */
  .pokemonList {
    width: 80%;
    margin: auto auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: center;
  }
  
  .imgPokemon {
    width: 200px;
    height: 200px;
  }
  
  .pokemon {
    /* border-radius: 15px; */
    padding: none;
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
  }
  
  /* ---------- BOTÓNES ---------- */
  .botonesBlock {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    max-width:500px;
    margin: auto;
  }
  
  .imgBuscarNombre {
    background-color: #386ABB;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .imgBuscarNombre:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 30px #386ABB;
  }
  
  .imgBuscarTipo {
    background-color: #FFFF00;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .imgBuscarTipo:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 30px #FFFF00;
  }
  
  .imgBatalla {
    background-color: #d50000;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .imgBatalla:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 30px #d50000;
  }