/* ---------- ESTILOS GENERALES ---------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: bold;
  background: #212121;
}

.Tittle {
  text-align: center;
  margin: 2em;
}

.imgTittle {
  width: 450px;
  height: 110px;
}

/* ---------- ESTILOS FORM SEARCH BY TYPE ---------- */
.container {
  height: 20rem;
  width: 50%;
  min-width: 1250px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  text-align: center;
}

.formulario{
  margin-left: 100px;
  margin-top: 35px;
  color: white;
}

.textPoke{
  font-size: 1.5rem;
}

.formulario p,
.formulario input{
  vertical-align: middle;
}

.buscar {
  width: 160px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  outline: none;
}

.busqueda{
  margin-left: 0px;
  margin-top: 35px;
}

.listaTipos{
  width: 240px;
  height: 28px;
  border-radius: 14px;
  border: 3px solid black;
  text-align: center;
  color: #8c8c8c;
  background-color: white;
}

.listaTiposItem{
  width: 240px;
  height: 80px;
  border-radius: 40px;
  border: 3px solid black;
  text-align: center;
  color: #8c8c8c;
  background-color: white;
}

button{
  width: 100px;
  height: 40px;
  color: white;
  background-color: #9e9e9e;
  border: 3px solid black;
  border-radius: 50px;
  text-align: center;
  margin-right: 20px;
  outline: none;
}

button:hover {
  background-color: #9e9e9e;
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 30px #9e9e9e;
}

.busqueda button,
.busqueda img{
  vertical-align: middle;
}

.pokebola-img{
  max-width: 20%;
}

.cardsList {
  background-color: transparent;
  height: auto;
  width: 42rem;
  min-width: 32rem;
  height: 38rem;
  overflow: visible;
  margin: 8px;
}

.row{
  height: 15rem;
  padding: 1rem;
  background-color: transparent;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column{
  width: 28%;
  height: 15rem;
  padding: 2.0%;
  margin: 0.2%;
  float: left;
  background-color: #ffffff;
  border-radius: 16px;
  border-color: #212121;
}

.listImage{
  width: 90%;
  height: 13rem;
}

.listName{
  color: #424242;
}

.pagesList{
  height: 16px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  align-content: center;
  vertical-align: middle;
  border-radius: 6px;
}

.pageItem{
  text-decoration: none;
  color: #212121;
  padding: 6px;
}


.DetailModal{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.cardContainer{
  margin: 15% 5% 15% 35%; 
  padding: 80px;
  width: 25%;
}




/* ---------- BOTÓN HOME ---------- */
.imgHome {
  background-color: #ff6600;
  border-radius: 50px;
  margin-left: 25px;
}
.imgHome:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 30px #fd7a20;
}

/* ------------ Detail Card ---------- */
.card-body {
  background-color: rgb(224, 197, 160);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 3px solid #212121;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.card-body-img {
  border: 2px solid #212121;
  border-radius: 40px;
  margin-top: calc(-48px - 5px);
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  outline: none;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.card-body-title span {
  color: #424242;
  font-weight: 400;
}

.card-body-text-hp {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-body-text-xp {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  font-size: 1rem;
  color: #212121;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  bottom: 0;
  margin-bottom: 0;
}

.card-footer-stat {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-footer-stat p {
  letter-spacing: 1px;
}

.card-1 {
  background-image: linear-gradient(to right, #e0e0e0, #9e9e9e);
}
